.env
*.pyc
.DS_Store
__pycache__
*.zip
dist
secrets.py
*.key
*.pem
device_data_cameras.json
transportation-data-publishing/xml/*
transportation-data-publishing/shell_scripts/*
transportation-data-publishing/log/*
transportation-data-publishing/data/*
!*.md