# see: https://www.continuum.io/blog/developer-blog/explicit-conda-environment-specifications
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
arrow=0.10.0=py34_0
freetds=1.00.9=vc10_0
keyring=9.3.1=py34_0
mkl=2017.0.1=0
numpy=1.11.3=py34_0
openssl=1.0.2l=vc10_0
pandas=0.19.2=np111py34_1
pip=9.0.1=py34_1
pymssql=2.1.3=py34_0
python=3.4.5=0
python-dateutil=2.6.0=py34_0
pytz=2017.2=py34_0
requests=2.14.2=py34_0
setuptools=27.2.0=py34_1
six=1.10.0=py34_0
vc=10=0
vs2010_runtime=10.00.40219.1=2
wheel=0.29.0=py34_0
yagmail=0.5.147=py34_0
